<header class="site-header" role="banner">
  <script src="{{ base.url | prepend: site.url }}/assets/js/main.js" defer></script>
  <nav class="topnav" id="myTopnav">
    <a rel="author" href="{{ "/" | relative_url }}">
      <span class="link-text">Accueil</span>
    </a>

    <!-- Menu Hypokhagne -->
    <div class="dropdown">
      <button class="dropbtn">
        <span class="link-text">Hypokhâgne</span> 
        <i class="ri-arrow-down-s-line dropdown-arrow"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{"/cours/" | relative_url }}">Cours et TD</a>
        <a href="{{"/devoirs/" | relative_url }}">Devoirs</a>
        <a href="{{"/kholles/" | relative_url }}">Khôlles</a>
      </div>
    </div>

    <!-- Menu Khâgne -->
    <div class="dropdown">
      <button class="dropbtn">
        <span class="link-text">Khâgne</span> 
        <i class="ri-arrow-down-s-line dropdown-arrow"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{"/td_khagne/" |relative_url }}">TD (Khâgne)</a>
      </div>
    </div>

    <!-- Liens utiles -->
      <a href="{{"/liens/" | relative_url }}">
        <span class="link-text">Liens utiles</span>
      </a>
    </nav>
    
    <!-- Icone toggle menu -->
    <div class="nav-toggle" id="nav-toggle">
      <i class="ri-menu-line nav-display"></i>
      <i class="ri-close-line nav-close"></i>
    </div>
    
</header>
