<header class="site-header" role="banner">
  <nav class="topnav" id="myTopnav">
    <a rel="author" href="{{ "/" | relative_url }}">Accueil</a>

    <!-- Menu Hypokhagne -->
    <div class="dropdown">
      <button class="dropbtn">
        Hypokhâgne 
      </button>
      <div class="dropdown-content">
        <a href="{{"/cours/" | relative_url }}">Cours et TD</a>
        <a href="{{"/devoirs/" | relative_url }}">Devoirs</a>
        <a href="{{"/kholles/" | relative_url }}">Khôlles</a>
      </div>
    </div>

    <!-- Menu Khâgne -->
    <div class="dropdown">
      <button class="dropbtn">
        Khâgne
      </button>
      <div class="dropdown-content">
        <a href="{{"/td_khagne/" |relative_url }}">TD (Khâgne)</a>
      </div>
    </div>

    <!-- Liens utiles -->
      <a href="{{"/liens/" | relative_url }}">Liens utiles</a>
    
    <!-- Icone toggle menu -->
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
  </nav>
</header>
