#panel-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

#panel-overlay.visible {
  opacity: 0.5;
  pointer-events: all;
}

/* panneau */
#status-button {
  display: flex;
  gap: 10px;
  flex-direction: column;
}


#detail-panel {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 80vh;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);

  border-radius: 20px 20px 0 0;
  box-shadow: 0 -10px 40px rgba(0,0,0,0.25);

  transition: bottom 0.35s ease;
  display: flex;
  flex-direction: column;
}

/* états */

#detail-panel.half {
  bottom: -30%;
}

#detail-panel.full {
  bottom: 0
}

/* poignée */

#drag-handle {
  width: 40px;
  height: 5px;
  background: #ccc;
  border-radius: 10px;
  margin: 10px auto;
  cursor: grab;
}

/* header */

#panel-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

#close-panel {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* contenu */

#panel-content {
  overflow-y: auto;
  padding: 20px;
  flex: 1;
}

#graph-container {
  position: relative;
  width: 100%;
  height: 100vh;
}


#graph {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  box-sizing: border-box; 
  background: #333;
}


#settings-menu {
  position: absolute ;
  padding:15px;
  z-index: 10;
}

#gear-btn {
  font-size: 22px;
  // background: white;
  // border: none;
  // border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  font-size:30px;
  filter: invert(100%);
  // box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


/* menu */
#menu-graph-dropdown {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  overflow: hidden;
}


/* boutons du menu */
#menu-graph-dropdown .graph-menu-item {
  padding: 10px 16px;
  border: none;
  background: white;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

#menu-graph-dropdown .graph-menu-item:hover {
  background: #f0f0f0;
}

#menu-graph-dropdown.hidden {
  display: none;
}
.hidden{
  display:none;
}

.node-html-label {
  font-weight: bold;
  text-wrap: wrap;
  width: 230px;
  color: #000;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
}

// TOOLTIP


#tooltip{

  position:absolute;

  background: rgba(20,20,20,0.95);
  color:white;

  padding:5px 0px;
  border-radius:6px;

  font-size:14px;
  white-space:nowrap;

  pointer-events:none;

  opacity:0;
}

#progress-toggle.visible{
  opacity:1;
  border-width: 2px;
}

#progress-toggle{
  position:absolute;
  opacity:0;
  display:flex;
  justify-content: center;
  background-color:#ccc;
  border:solid;
  border-width:4px;
  border-color: gray;
  border-top:0px;
  padding:2px;
  z-index:10;
}

.progress-up, .progress-down {
  position:absolute;
  height:100%;
}

.progress-up{
  opacity:0;
}

.show-progress-up .progress-up {
  opacity:1;
}

.show-progress-up .progress-down {
  opacity:0;
  transform:rotate(90deg);
}


#tooltip.visible{
  opacity:1;
}

#math-tooltip{

  position:absolute;

  background: rgba(20,20,20,0.95);
  color:white;

  padding:6px 10px;
  border-radius:6px;

  font-size:14px;
  white-space:nowrap;

  pointer-events:none;

  opacity:0;
}

#math-tooltip.visible{
  opacity:1;
}