#detail-panel {
  position: fixed;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: white;
  border-top: 2px solid #ccc;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
  transition: bottom 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  z-index: 10;
}


#node-info-panel.open {
  bottom: 0;
}

#close-panel {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

#graph {
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  box-sizing: border-box; 
  background: #f0f0f0;
}