#intro {
    font-style: italic;
    margin: 50px 0px;
}

.titre{
    display: block;
    text-align: center;
}

.adresse_mail {
    font-family: Courier ;
    font-style: normal;
    padding-left:5px;
}